/* MY CUSTOM STYLES */
*{margin:0;padding:0;text-decoration:}
body{background:;font-family: 'Average Sans', sans-serif;font-family: 'Federo', sans-serif; color: #00008b;}
a:hover {color: #D32F2F;text-decoration: ;cursor: pointer; content: ""!important;}
/*a {color: #00008b !important;}*/
.darkblue {color: #00008b !important;}
.font-bold {font-weight: 600; }

  
/*header section css start here*/
.head-style{height: ;background: #2c9ed4; /* For browsers that do not support gradients */
background: linear-gradient(to right, #27709e, #6275e3, #675df9, #718ee4, #27709e) /* Standard syntax (must be last) */
/*text-shadow: 1px 1px 2px #290D0D, 2px 2px 1px #101011;*/}
.hr-me {height: 2px;background: red; /* For browsers that do not support gradients */background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */}
/*header section css ends here*/


mg:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Navigation Menu Css Start Here */
.sticky {position: fixed;top: 0;width: 100%;z-index:400!important;}
header{position:relative;width:100%;background:#1976D2;}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;width:15%}
.logo a{color:#6DDB07;}
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,
#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:;background:;}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a{padding:17px;font-size:15px;letter-spacing:px;text-decoration:none;color:#ddd;font-weight:700;text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a{color: #a0ce4e;border-color: #a0ce4e;}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover{background:!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;
content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px; z-index:1;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#4446ED;;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:250px;font-size:15px;text-decoration:none;color:#F6FCF4;font-weight:400;text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover{color: #fff;background: #241d9b;border: 1px solid black;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}
@media screen and (max-width:1000px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;padding:10px 0 0 10px ;float:none}
.logo2{display:none}nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #444}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background:#333!important;}
#cssmenu ul ul li:hover{background:#363636!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}}
/* Navigation Menu Css ends Here */


/*carosol section Css starts Here */
.zoomincarosol {width:;height:;text-align:center;background: url("");background-size: auto;background-attachment: fixed;background-repeat: repeat;position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-webkit-animation: zoomin 10s ease-in infinite;animation: zoomin 10s ease-in infinite;transition: all .10s ease-in-out;overflow: hidden;}
.zoomoutcarosol {width:;height:;text-align:center;background: none;-webkit-animation: zoomout 10s ease-in infinite;animation: zoomout 10s ease-in infinite;transition: all .5s ease-in-out;overflow: hidden;} 
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {0% {transform: scale(1);}95% {transform: scale(1.3);}100% {transform: scale(1);}}
@keyframes zoomin {0% {transform: scale(1);}95% {transform: scale(1.3);}100% {transform: scale(1);}} 
/*End of Zoom in Keyframes */
/* Zoom out Keyframes */
@-webkit-keyframes zoomout {0% {transform: scale(1);}95% {transform: scale(1.3);}100% {transform: scale(1);}}
@keyframes zoomout {0% {transform: scale(1);}95% {transform: scale(1.3);}100% {transform: scale(1);}}
/*End of Zoom out Keyframes */
/*carosol section Css ends Here */



/* NOTICE section Css starts Here */
.list-group-item-action:focus, .list-group-item-action:hover {color: #D32F2F;}
.list-group-item-action:focus, .list-group-item-action {color: #00008b;}
.table-responsive {display: -moz-stack;width: 100%;overflow-x: auto;-ms-overflow-style: -ms-autohiding-scrollbar;}
.bg-1 {background: #D4DAD5;}
.list-group-item-action {font-weight: bold;}
.list-group-item {background-color: #D4DAD5;}
table th {font-size: .9rem;font-weight: bold;}
.text-1 {color:#174381;}
form.search input[type=text] {padding: 5px;font-size: 17px;border: none;float: left;width: 75%;background: #f1f1f1;}
form.search button {float: left;width: 20%;padding: 10px;background: #2196F3;color: white;font-size: 17px;border: none;cursor: pointer;}
form.search button:hover {background: #0b7dda;}
form.search::after {content: "";clear: both;display: table;}
table.table a {color: #00008b;}
table.table a:hover {color: #D32F2F;}

/* NOTICE section Css Ends Here */

/* Courses section Css start Here */




/* Courses section Css Ends Here */



/* popular-DEPARTMENTS section css starts here */
.popular .popular2 {position: relative;width: 90%;border-radius: 50% !important;}
.image {display: block;width: 100%;height: auto;}
.overlay {position: absolute;bottom: 100%;left: 0;right: 0;background-color: #fff;overflow: hidden;width: 100%;height: 0;transition: .5s ease;}
.popular:hover .overlay {bottom: 0;height: 100%;border-radius: 50% !important;}
.text {white-space: nowrap; color: #fff;font-size: 20px;position: absolute;overflow: hidden;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-transform: uppercase;background-color: #00008b !important;padding: 2rem !important;font-weight: 500;border-radius: 50% !important;}
/* 2nd  */
.overlay2 {position: absolute;bottom: 0;left: 0;right: 0;background-color: #fff;overflow: hidden;width: 100%;height: 0;
transition: .5s ease;}
.popular2:hover .overlay2 {
  height: 100%;border-radius: 50% !important;}
/* popular-DEPARTMENTS section css ends here */


/* Academic Support section css ends here */
.img-support {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
 .img-support:hover {
 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);}
/* Academic Support section css ends here */


/* Upcoming News & Events section css starts here */
a.list-group-item-info, button.list-group-item-info {color: #00008b;}
a.list-group-item-info:focus, a.list-group-item-info:hover, button.list-group-item-info:focus, button.list-group-item-info:hover {color: #ff0000;background-color: #fff;}
/* Upcoming News & Events section css ends here */


/* social section Css starts Here  */
.social-icon{position: relative;padding: 0;margin: 0;}
.social-icon h4{display: inline-block;padding-right: 20px;}
.social-icon li{display: inline-block;list-style: none;}
.social-icon li a{border: 1px solid #fff;border-radius: 2px;color: #fff;width: 40px;height: 40px;line-height: 40px;text-align: center;text-decoration: none;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;margin-right: 10px;}
.social-icon li a:hover{background: #28a7e9;border-color: transparent;}
/* social section Css ends Here  */



/*Back To top social section Css starts Here  */
.cd-top {display: inline-block;height: 40px;width: 40px;position: fixed;bottom: 40px;right: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
/* image replacement properties */
overflow: hidden;text-indent: 100%;white-space: nowrap;background: #0d47a1 url(../img/svg/cd-top-arrow.svg) no-repeat center 50%;border-radius:50px;visibility: hidden;opacity: 0;-webkit-transition: opacity .3s 0s, visibility 0s .3s;-moz-transition: opacity .3s 0s, visibility 0s .3s;transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {-webkit-transition: opacity .3s 0s, visibility 0s 0s;-moz-transition: opacity .3s 0s, visibility 0s 0s;transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {
/* the button becomes visible */visibility: visible;opacity: 1;}
.cd-top.cd-fade-out {
/* if the user keeps scrolling down, the button is out of focus and becomes less visible */opacity: .5;}
.no-touch .cd-top:hover {background-color: #e86256;opacity: 1;}
@media only screen and (min-width: 768px) {.cd-top {right: 20px;bottom: 20px;}}
@media only screen and (min-width: 1024px) {.cd-top {height: 60px;width: 60px;right: 30px;bottom: 30px;}}
/*Back To top social section Css starts Here  */



/*login and registration form css strats Here  */
.form-signin {max-width: 400px; display:block;background-color: #f7f7f7;-moz-box-shadow: 0 0 3px 3px #888;-webkit-box-shadow: 0 0 3px 3px #888;box-shadow: 0 0 3px 3px #888;border-radius:2px;}
.main{padding: 38px;}
.social-box{margin: 0 auto;padding: 38px;border-bottom:1px #ccc solid;}
.social-box a{font-weight:bold;font-size:18px;padding:8px;}
.social-box a i{font-weight:bold;font-size:20px;}
.heading-desc{font-size:20px;font-weight:bold;padding:38px 38px 0px 38px;	}
.form-signin .form-signin-heading,.form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative;font-size: 16px;height: 20px;padding: 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="text"] {margin-bottom: 10px;border-radius: 5px; }
.form-signin input[type="password"] {margin-bottom: 10px;border-radius: 5px;}
.login-footer{background:#f0f0f0;margin: 0 auto;border-top: 1px solid #dadada;padding:20px;}
.login-footer .left-section a{font-weight:bold;color:#8a8a8a;line-height:19px;}
.mg-btm{margin-bottom:20px;}
/*login and registration form css strats Here  */



.mt-col-2 {margin-top: 1rem !important;}